.TransferHistory > div {
	background-color:#F0F0F0;
	border-radius:13px 13px 13px 13px;
	margin:3px;
	padding:5px;
}
.TransferHistory .head{
	text-align:center;
	font-weight:bold;
}
.TransferHistory table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}
.TransferHistory tr:first-child > td{
	font-weight:bold;
	text-align:center;
}
.TransferHistory tr:nth-child(n+2) > td{
	border-top: 1px solid #c0c0c0;
}
.TransferHistory td{
	padding:3px;
}
.TransferHistory td:nth-child(n+3){
	text-align:center;
}
.TransferHistory td:first-child{
	width:25px;
}
.TransferHistory [title]{
	cursor:help;
}